<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="img/signiature1.png">
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a id= "home" class="navbar-item" href="/">
            Home
          </a>
          <a id= "projects" class="navbar-item" href="/projects">
            Projects
          </a>
          <a id= "contact" class="navbar-item" href="/contact">
            Contact
          </a>
          <span class="navbar-item">
            <a class="button is-dark" href="http://github.com/spencerstith">
              <span>GitHub</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>