<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %> 
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.3.1/p5.min.js"
    integrity="sha512-gQVBYBvfC+uyor5Teonjr9nmY1bN+DlOCezkhzg4ShpC5q81ogvFsr5IV4xXAj6HEtG7M1Pb2JCha97tVFItYQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="generative.js"></script>
</head>

<body>
  <!--NAVBAR & HEADER-->
  <section class="hero is-primary">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="signiature1.png">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="/">
                Home
              </a>
              <a class="navbar-item" href="/projects">
                Projects
              </a>
              <a class="navbar-item is-active" href="/contact">
                Contact
              </a>
              <span class="navbar-item">
                <a class="button is-dark" href="http://github.com/spencerstith">
                  <span>GitHub</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <script type="text/javascript">
    var params = window.location.search.substring(1).split('&');
    displayProject(params);
  </script>
</body>
<%- include('partials/scripts'); %>

</html>