<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %> 
</head>

<body>
  <!--NAVBAR & HEADER-->
  <section class="hero is-primary">
    <%- include('partials/hero-head'); %>

    <div class="hero-body">
      <div class="columns is-desktop is-vcentered">
        <div class="column is-one-fifth">
          
        </div>
        <div class="column is-three-fifths">
          <p class="title has-text-centered">Welcome to My Portfolio!</p>
        </div>
        <div class="column is-one-fifth">

        </div>
      </div>
  </section>

  <!--CARDS-->
  <section class="section">
    <div class="columns">
      <!--LEFT COLUMN-->
      <div class="column">
        <div class="box">
          <p class="title">Computer Science Qualifications</p>
          <div class="content">
            <ul>
              <li>
                Object Oriented Programming
                <span class="tag is-danger is-light">Java (3+ years)</span>
                <span class="tag is-danger is-light">Python</span>
                <span class="tag is-danger is-light">JavaScript</span>
                <span class="tag is-danger is-light">Swift</span>
                <span class="tag is-danger is-light">C#</span>
              </li>
              <li>Data Structures, Algorithms, and Problem Solving</li>
              <li>Cyber Security, Encryption, Secure Electronic Commerce, System Administration</li>
              <li>Computer Architecture, Multi-threading, Low-level Systems</li>
              <li>Mathematical & Statistical Analysis</li>
              <li>Dynamic Programming and Scalability</li>
              <li>
                Large Project Management and Team-Oriented Projects
                <span class="tag is-danger is-light">Communication</span>
                <span class="tag is-danger is-light">Organization</span>
                <span class="tag is-danger is-light">Git/GitHub</span>
              </li>
              <li>
                Database Design, Relational Databases, Query Optimization
                <span class="tag is-danger is-light">MySQL</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="box">
          <p class="title">Mathematics Qualifications</p>
          <div class="content">
            <ul>
              <li>Calculus I - III, Differential Equations, Real Analysis (Advanced Calculus)</li>
              <li>Physics I - III</li>
              <li>Statistical Methods, Discrete Mathematics</li>
              <li>Abstract Algebra, Number Theory, Set Theory</li>
              <li>Linear Algebra & Matrix Theory</li>
            </ul>
          </div>
        </div>
      </div>

      <!--RIGHT COLUMN-->
      <div class="column">
        <div class="box">
          <p class="title">Education</p>
          <div class="content">
            <p class="title is-4">The University of Tulsa | Tulsa, OK</p>
            <p class="subtitle is-6">B.S. Computer Science & Mathematics, Minor in Cyber Security</p>
            <ul>
              <li>Several of the qualifications to the left (other qualifications gained by experience)</li>
              <li>
                Completed 2-semester long capstone software project, using my abilities to lead, communicate, present
                and problem solve.
                Strengthened abilities in teamwork, organization, and version control.
                Roles: main presenter/communicator, algorithm analysis and design, problem solving.
              </li>
            </ul>
          </div>
        </div>

        <div class="box">
          <p class="title">Programming Experience</p>
          <div class="content">
            <p class="title is-4">
              TinySet
              <span class="tag is-danger is-light">Self-Made</span>
              <span class="tag is-danger is-light">Java</span>
              <span class="tag is-danger is-light">Maven</span>
            </p>
            <p class="subtitle is-6">TinySet is a wrapper of the Java Database Connector (JDBC)</p>
            <ul>
              <li>Designed to greatly simplify database operations in Java by reducing boilerplate code and exception handling</li>
              <li>Uses Prepared Statements for optimal security</li>
              <li>Skills Strengthened: Database Security, Singleton Design Paradigm, Version Control, Build & Deployment Systems</li>
              <li>Is officially part of the Maven Central Repository</li>
            </ul>

            <p class="title is-4">
              Processing & P5.js
              <span class="tag is-danger is-light">Open-Source Contributions</span>
              <span class="tag is-danger is-light">JavaScript</span>
            </p>
            <p>
              I have used Processing and its sister project, P5.js, to create several visual art projects, shown on this website (several are here but there are more on my GitHub).
              I have contributed code multiple times to these open-source repositories.
              A goal of these projects is to create more inclusive environments around code and bring education to those in unfortunate circumstances.
            </p>

            <p class="title is-4">
              Personal Portfolio/Website
              <span class="tag is-danger is-light">Self-Made</span>
              <span class="tag is-danger is-light">JS</span>
              <span class="tag is-danger is-light">Node</span>
              <span class="tag is-danger is-light">Express</span>
              <span class="tag is-danger is-light">jQuery</span>
              <span class="tag is-danger is-light">Bulma</span>
            </p>
            <ul>
              <li>Created to showcase my abilities and generative art</li>
              <li>Follows web design paradigms (RESTful, front-end & back-end communication)</li>
              <li>Uses JavaScript, Node, Express, jQuery, Bulma</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>